
deepgram-sdk==3.3.1
Flask==3.0.3
Flask-Cors==4.0.1
# Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
google-generativeai==0.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
uritemplate==4.1.1
urllib3==2.2.2
websockets==12.0
Werkzeug==3.0.3
yarl==1.9.4